<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main class="main-content">
		<div class="breadcrumbs-area position-relative">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="breadcrumb-content position-relative section-content">
							<h3 class="title-3">About Us</h3>
							<ul>
								<li><a href="/">Home</a></li>
								<li>Change Password</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		

		<section class="account-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-8 m-auto">
						<div class="account-form-wrap">
							<div class="login-form">
								<div class="content">
									<h4 class="title  mt-5">Change Password</h4>
									<p>Choose a strong password and don't reuse the password for other accounts.</p>
								</div>
								<form th:action="@{/auth/change-password}" method="post">
									<div class="row">
										<div class="col-12 mb-3" th:if="${message}">
											<div class="alert alert-warning p-2">
												<i class="text-danger" th:text="${message}"></i>
											</div>
										</div>
										<div class="col-12 mb-3">
											<label class="form-label">Username</label>
											<div class="form-group">
												<input class="form-control text-muted" name="username" type="text"
													th:value="${#request.remoteUser}" readonly>
											</div>
										</div>
										<div class="col-12 mb-3">
											<label class="form-label">Password</label>
											<div class="form-group">
												<input class="form-control" type="password" id="password" placeholder="Enter your password"
													required autofocus>
											</div>
										</div>
										<div class="col-12 mb-3">
											<label class="form-label">Confirm Password</label>
											<div class="form-group">
												<input class="form-control" type="password" name="password"
													placeholder="Enter confirm password" required oninput="checkPassword(this);">
											</div>
										</div>
										<div class="col-12">
											<div class="login-form-group mt-0">
												<button class="btn flosun-button secondary-btn secondary-border rounded-0" type="submit">Submit</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<script type="text/javascript">
			function checkPassword(password) {
				if (password.value != $("#password").val()) {
					password.setCustomValidity("Passwords are not the same!");
				} else {
					password.setCustomValidity("");
				}
			}
		</script>
	</main>
</body>
</html>